/* Container for header elements */
#header {
    display: flex;
    align-items: center;   
    padding: 50px 0px;
}

body {
    background-color: #fbe4d8;
    background-image: url("bg.png");
    margin: 0px !important;
    padding: 0px;
    background-repeat: no-repeat;
}

.bg {
    margin: 0px;
    padding: 0px;
}

/* Adjust logo dimensions */
#header img {
    width: auto;
    height: 70px;
    padding: 20px;
}

nav {
    margin-top: 10px;
    margin-left: 400px;
}

nav ul {
    list-style: none;
    display: flex; /* Display links in a row */
    margin-left: 0;
    font-size: 24px;
    overflow: hidden;
    float: left;
}

/* Style navigation links */
nav ul li {
    margin-left: 80px;
    font-size: smaller; /* Add space between links */
    font-family: "Arial";
    font-weight: bold;
}

/* Remove underline from navigation links */
nav ul li a {
    text-decoration: none;
    color: rgb(76, 175, 80);
}

.contact-us {
    background-color: rgb(76, 175, 80);
    color: white;
    border: none;
    height: 36px;
    width: 150px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 90px;
    margin-top: 20px;
    transition: box-shadow 0.15s;
    vertical-align: top;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(60, 136, 62);

}

.contact-us:hover {
    background-color: rgb(47, 105, 49);
}

.Home {
    background-image: url('Home.jpg');
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    height: 70vh; /* Full height of the viewport */
    padding: 20px;
}

.donate {
    background-color: rgb(76, 175, 80);
    color: white;
    border: none;
    height: 50px;
    width: 190px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-left: 300px;
    transition: box-shadow 0.15s;
    vertical-align: top;
    padding: 9px 15px;
}

.donate:hover {
    opacity: 0.8;
}

.lines {
    margin-left: 250px;
    margin-top: 60px;
}

.lines h1 {
    font-size: 50px;
    padding-top: 1px;
    color: rgb(76, 175, 80);
    text-shadow: 6px 6px 9px #000000;
}
#contact-US,#foodbank_registration,#List_food_leftover{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
}
#foodbank_registration
{
    justify-content: center;
    display: flex;
    height: 250vh;
    align-items: center;
    padding: 10px;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    
}

#foodbankinfo, #Personinof, #Services, #Logistics, #leftoverinfo{
    background-image: url("bg.png");
    background-repeat: no-repeat;
}

#foodbank_registration .Register,
#list_food_leftover .Register {
    align-items: center;
    justify-content: center;
    align-content: center;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: rgb(76, 175, 80);
    padding: 50px 30px;
    margin: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    font-family: "Arial";
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .button {
    height: 45px;
    margin: 35px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

#register-button,
#list-button {
    background-color: rgb(76, 175, 80);
    color: white;
    border: none;
    height: 50px;
    width: 190px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
    transition: box-shadow 0.15s;
    padding: 9px 15px;
}

#register-button:hover,
#list-button:hover {
    opacity: 0.8;
}

#foodbankinfo {
    align-items: center;
    justify-content: center;
    align-content: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
}

.input-box input {
    width: 30%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}


.square5 {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 6px -2px;
    margin: 10px;
    border-radius: 15px;
}
.circle2 {
    width: 50px;
    height: 50px;
    background-color: #ed0202;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#boxes{
    display: flex;
    margin: 10px;
    justify-content: center;
}

.pannel{
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.pattern {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}

.Designtext {
    text-align: center;
    padding: 20px 0;
}

  
.Designtext span {
    margin: 0 5px;
    font-size: 40px;
    font-weight: bold;
}

.DOT{
    width: 10px; 
    border: none; 
    height: 10px; 
    background-color: #ed0202; 
    margin: 20px
}

.LINE{
    width: 100px;
    border: none; 
    height: 10px; 
    background-color: #ed0202; 
    margin:20px,auto;
}

#contactus1{
        background-image: url("bg.png");
    background-repeat: no-repeat;
}


/* About Us section styling */
.about-us {
    text-align: center;
    padding: 50px 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-image: url("bg.png");
    background-repeat: no-repeat;

}

.about-us h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-us .content {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

.about-us .content p {
    margin-bottom: 20px;
    font-size: 1.1em;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}



.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
}
}
::placeholder {
  color: black;
  opacity: 1; /* Firefox */
}